* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: whitesmoke;
}

.nav-header {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.nav-ul {
  margin-right: 20px;
}

.container-div {
  margin: 10px auto;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: aqua;
}

img {
  width: 400px;
  border-radius: 10px;
  margin: 15px;
}